<ion-list>
    <ion-list-header>
        Action
    </ion-list-header>
    <ion-item>
        <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
    </ion-item>
    <ion-item>
        <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
    </ion-item>
    <ion-item>
        <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
    </ion-item>
    <ion-item>
        <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
    </ion-item>
</ion-list>